.cat-cmp img {
    width: 300px;
    height: 195px;
    object-fit: cover;
    margin: 10px 0 0% 3%;
    border: 2px solid #fff;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.pictitle {
    text-align: center;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.backButton > button {
    background-color: #ffffff00;
    border: none;
    margin-bottom: 5%;
}

.backButton > button:hover {
    text-shadow: 3px 2px #00000080;
    color: #00ffd0;
    font-variant-caps: all-small-caps;
}
