input {
    color: #000;
    margin-bottom: 2%;
}

.message-form {
    width: 500px;
}

.contacts-form {
    display: flex;
    flex-flow: column nowrap;
}

.contacts-form > button {
    width: 85px;
    margin-left: 200px;
    background-color: #313193;
    border: none;
}

.contacts-form > button:hover {
    text-shadow: 3px 2px #00000080;
    color: #00ffd0;
    font-variant-caps: all-small-caps;
}
