.network-cmp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
    height: 65px;
}

.fb-icon,
.insta-icon,
.wa-icon {
    margin: 0 0 0 15px;
}
