.network-cmp {
    padding-bottom: 20px;
    position: relative;
    margin-left: 38em;
    width: 162px;
}

.fb-icon,
.insta-icon,
.wa-icon {
    margin: 0 0 0 15px;
    opacity: 0.3;
}

.fb-icon:hover,
.insta-icon:hover,
.wa-icon:hover {
    margin: 0 0 0 15px;
    opacity: 1;
    cursor: crosshair;
}
